#project-settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $project-settings-width;
    height: $project-settings-height;
    background-color: $backgroundColor;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(black, .5);
    z-index: 100;

    .userSelectBox {
        width: 90%;
    }

    h3 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.2px;
        background-color: rgba(black, 0.5);
        margin: 0 -20px 15px -20px;
        height: 45px;
        line-height: 45px;
    }

    p {
        padding: 0;
        font-size: 16px;
        margin: 15px 0 5px 5%;
    }

    input,
    textarea {
        width: 90%;
    }
    textarea {
        min-width: 90%;
        max-width: 90%;
    }

    #projectMemberAddForm {
        #userSelect {
            width: 90%;
            margin: 15px 5%;

            input {
                width: 100%;
                margin: 0;
            }
        }

        .joined-users {
            width: 90%;
            height: 320px;
            border: solid 1px rgba(white, .3);
            overflow-y: auto;
            margin: 0 5%;

            li {
                border-bottom: solid 1px rgba(white, .1);
                .name {
                    width: calc(100% - #{$iconSize * 2});
                }
                .delete {
                    display: inline-block;
                    width: $iconSize;
                    line-height: $iconSize;
                    text-align: center;
                    font-size: 18px;
                    transition: ease all .3s;

                    &:hover {
                        color: $redColor;
                    }
                }
            }
        }
    }
}