#accountSettings {
    width: $modanWidth;
    margin: 10px auto;

    #accountSettingsIcon {
        #accountSettingsIconFake {
            text-align: center;
            width: $bigIconSize;
            height: $bigIconSize;
            margin: 25px auto 15px auto;
            line-height: $bigIconSize;
            letter-spacing: 2px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #accountSettingsIconFile {
            opacity: 0;
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }

    form {
        display: block;
        margin-bottom: 70px;

        label {
            font-size: 16px;
            letter-spacing: 1.2px;
        }

        input {
            width: 100%;
            margin-top: 5px;
            padding-right: calc(#{$lineTextHeight} + 5px);
        }

        //input[type=submit]:not([value=CHANGE]) {
        //    opacity: 0;
        //    width: 0;
        //    height: 0;
        //}

        input[type=submit] {
            padding: 0 10px;
        }

        i.fas {
            position: relative;
            display: block;
            text-align: center;
            cursor: default;
            transition: background-color ease .3s;
            z-index: 50;
        }

        i.fas:not(.aline) {
            width: $lineTextHeight;
            height: $lineTextHeight;
            line-height: $lineTextHeight;
            margin: calc(-#{$lineTextHeight} - 15px) 0 0 calc(100% - #{$lineTextHeight});
        }

        i.fas::before {
            display: block;
            width: 100%;
            height: 100%;
        }

        i.fas:not(.aline):hover {
            background-color: accentColor(.3);
        }
    }
}

#currentPasswordDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 180px;
    padding: 10px 15px 0 15px;
    transform: translate(-50%, -50%);
    background-color: $backgroundColor;
    z-index: 99;

    p {
        text-align: center;
        font-size: 16px;
        letter-spacing: 1.2px;
    }

    input {
        width: 95%;
        margin: 25px auto;
    }
}