#accountAdd {
    margin: 10px auto;

    #error {
        width: 80%;
        margin: 0 auto;
    }

    #accountAdded {
        margin-top: 50px;

        h3 {
            text-align: center;
            letter-spacing: 1.2px;
            font-size: 18px;
        }

        p {
            margin-left: 10%;
            transform: translateX(-15px);
        }
    }
}