#home {
    height: calc(100% - 75px);
    overflow-x: auto;

    #home-container {
        display: flex;
        justify-content: flex-start;
        margin: 0 15px;
        min-width: 1100px;

        section {
            flex-grow: 1;
            margin: 0 10px;
            width: (100% - 45%) / 2;
            &:first-child {
                width: 45%;
            }

            * {
                justify-content: unset;
                flex-grow: 0;
            }

            .sectionTitle {
                font-size: 16px;
                letter-spacing: 1.3px;
                height: 35px;
                line-height: 35px;

                i {
                    color: white;
                    margin-left: 10px;
                    line-height: 35px;
                }
            }

            .taskListTitle {
                height: $buttonHeight;
                line-height: $buttonHeight;
                background-color: rgba(black, .3);

                &::before {
                    width: 5px;
                    height: 100%;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    content: " ";
                    background-color: $accentColor;
                }
            }

            ul {
                &.joinProject {
                    display: block;
                    list-style: none;
                    margin: 0 0 0 15px;
                    padding: 0;
                }

                &.taskList {
                    width: 100%;
                    li {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}