ul.taskList {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
        display: block;
        clear: both;
        margin: 0;
        padding: 8px 10px 0 20px;
        transition: background-color ease .3s;

        &:first-child {
            padding-top: 0;
        }

        &:hover {
            background-color: rgba(black, .5);
        }

        @import "task_color";

        &::after {
            display: block;
            position: relative;
            clear: both;
            content: " ";
            width: calc(100% + 20px + 10px);
            height: 1px;
            margin: 33px 0 0 -20px;
            background-color: rgba(white, .3);
        }

        .taskTitle {
            width: 100%;
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            letter-spacing: 1.8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .taskAssign,
        .taskLimit,
        .taskId {
            float: left;
            text-align: left;
            letter-spacing: 1.5px;
            height: 25px;
            line-height: 25px;
            width: calc(100% - 150px - 80px);
        }

        .taskId {
            width: 50px;
        }

        .taskAssign {
            .taskAssignIcon,
            .taskAssignName {
                float: left;
            }
            .taskAssignIcon {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .taskAssignName {
                margin-left: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .taskLimit {
            text-align: right;
            width: 180px;

            span {
                margin: 0 8px;
            }
        }
    }
}