html,
body {
    display: block;
    height: 100%;
}

#taskboardTitle {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    margin: 15px 0 0 20px;
    letter-spacing: 1.2px;

    i {
        margin-right: 10px;
    }
}

#taskboardAdd,
#taskboardConfig {
    display: block;
    font-size: 16px;
    height: $buttonHeight;
    width: 140px;
    line-height: $buttonHeight;
    text-align: center;
    letter-spacing: 1.1px;
    text-decoration: none;
    margin: -$buttonHeight+10px 40px 15px 0;
    color: $accentColor;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color ease .3s;

    &:hover {
        background-color: accentColor(.15);
    }

    i {
        margin-right: 10px;
    }
}

#taskboardAdd {
    margin-left: calc(100% - 175px);
    margin-top: -60px;
}

#taskboardConfig {
    margin-left: calc(100% - 175px - 145px);
}

#taskboard {
    overflow-x: auto;
    height: calc(100% - 70px);

    #taskBoardMinSized {
        display: flex;
        justify-content: flex-start;
        margin: 0 15px;
        height: calc(100% - 45px);
        min-width: 1400px;

        section {
            flex-shrink: 1;
            flex-grow: 1;
            width: 20%;
            margin: 0 8px;

            ul {
                height: 100%;
                overflow-y: auto;

                li {
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                }
            }

            .statusName {
                height: $buttonHeight;
                line-height: $buttonHeight;
                font-size: 18px;
                padding-left: 15px;
                background-color: rgba(black, 0.5);
                letter-spacing: 1.5px;

                &::after {
                    display: block;
                    position: relative;
                    content: " ";
                    width: 5px;
                    height: 100%;
                    top: -100%;
                    left: -15px;
                    background-color: $accentColor;
                }
            }
        }
    }
}

#taskboardAddForm {
    display: block;
    width: 400px;
    position: fixed;
    right: -405px;
    top: 65px;
    height: calc(100% - 65px);
    background-color: rgb(50, 50, 50);
    box-shadow: -2px -2px 5px rgba(black, .6);
    overflow-y: auto;
    letter-spacing: 1.2px;
    transition: right ease .3s;
    z-index: 30;

    &.shown {
        right: 0;
    }

    input,
    textarea {
        width: 90%;
        max-width: 90%;
        min-width: 90%;
        margin: 5px 0 15px 5%;
    }

    h3 {
        font-size: 18px;
        letter-spacing: 1.1px;
        text-align: center;
        height: 45px;
        line-height: 45px;
    }

    p {
        margin-left: 5%;
        font-size: 14px;
    }

    #taskboardAddClose {
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-top: -45px;
        text-align: center;
        font-size: 18px;
        transition: all ease .3s;
    }
    #taskboardAddClose:hover {
        background-color: rgba(black, .3);
    }

    #assign {
        margin-left: 20px;

        input {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            margin: 0;
        }

        .user-select-list li {
            display: flex;
        }
    }
}

#projectConfigPopup {
    display: none;
    position: fixed;
    top: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 85%;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: $backgroundColor;
    overflow-y: auto;
    box-shadow: 0 0 6px rgba(black, .5);
    z-index: 100;

    .userSelectBox {
        width: 90%;
    }

    h3 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.2px;
    }

    p {
        padding: 0;
        font-size: 16px;
        margin: 15px 0 5px 5%;
    }

    input,
    textarea {
        width: 90%;
    }
    textarea {
        min-width: 90%;
        max-width: 90%;
    }

    #userSelect {
        padding-right: $buttonHeight + 10px;
    }

    #userSelect + input {
        text-align: center;
        vertical-align: middle;
        height: $lineTextHeight;
        line-height: $lineTextHeight;
        width: $lineTextHeight;
        margin: (-15px - $lineTextHeight) 0 10px 95%;
        transform: translateX(-$lineTextHeight);
        border: 0;
        background-color: transparent;
    }

    #userSelect + input:hover,
    #userSelect + input:focus {
        background-color: accentColor(.3);
    }

    #projectMemberAddForm {
        .usersList {
            height: 250px;
            border: solid 1px rgba(white, .3);
            overflow-y: auto;
        }
    }
}

.usersList {
    width: 90%;
    list-style: none;
    margin: 5px auto;
    padding: 0;
    font-size: 0;

    li {
        height: $iconSize;
        line-height: $iconSize;
        padding: 5px 8px;
        overflow: hidden;

        &.select {
            background-color: accentColor(.5);
        }

        .icon {
            width: $iconSize;
            height: $iconSize;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            overflow: hidden;
        }

        .name {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - #{$iconSize});
            font-size: 15px;

            .nameId,
            .displayName {
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .nameId {
                margin: 0 10px;
                max-width: 50%;
            }

            .displayName {
                opacity: 0.5;
                font-size: 12px;
                max-width: calc(50% - 20px);
            }

            .displayName::before {
                content: "(";
            }

            .displayName::after {
                content: ")";
            }
        }
    }
}

.userSearchDialog {
    z-index: 102;
    background-color: rgb(50, 50, 50);
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

#deleteProjectPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $modanWidth;
    background-color: $backgroundColor;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(black, .5), 0 0 6px rgba($redColor, .5);
    z-index: 100;

    h2 {
        font-size: 18px;
        letter-spacing: 2px;
        height: $buttonHeight;
        line-height: $buttonHeight;
        font-weight: 900;
    }

    .close {
        width: $buttonHeight;
        height: $buttonHeight;
        line-height: $buttonHeight;
        text-align: center;
        font-size: $buttonHeight / 2;
        margin: -$buttonHeight 0 10px calc(100% - #{$buttonHeight});
        display: block;
        transition: color ease .3s;
    }

    .close:hover {
        color: rgba(white, .7);
    }

    p {
        margin-bottom: 15px;
        letter-spacing: 1px;

        strong {
            font-weight: 900;
        }
    }

    input {
        width: 90%;
    }

    input[disabled] {
        opacity: 0.3;
    }

    input:focus {
        border-color: $redColor;
    }
}

#taskPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $taskPopupWidth;
    background-color: $backgroundColor;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(black, .5);
    z-index: 100;

    .error, .success {
        margin-top: 8px;
    }

    h2 {
        height: $buttonHeight;
        line-height: $buttonHeight;
        font-size: 18px;
        padding-left: 15px;
        background-color: rgba(black, 0.5);
        letter-spacing: 1.5px;
        margin: -10px -20px 0 -20px;

        &::after {
            display: block;
            position: relative;
            content: " ";
            width: 5px;
            height: 100%;
            top: -100%;
            left: -15px;
            background-color: $accentColor;
        }

        &.limit3::after {
            background-color: rgba($orangeColor, .8);
        }

        &.limit2::after {
            background-color: rgba($satOrangeColor, .8);
        }

        &.limit1::after {
            background-color: $redColor;
        }

        &.over::after {
            background-color: $redColor;
        }
    }

    #taskPopupActions {
        margin: -$buttonHeight 0 15px calc(100% - #{$buttonHeight * 3} + 20px);
        width: $buttonHeight * 3;

        i {
            float: left;
            width: $buttonHeight;
            height: $buttonHeight;
            line-height: $buttonHeight;
            text-align: center;
            display: block;
            font-size: 14px;
            box-sizing: border-box;
            padding-left: 3px;
            transition: ease .4s background-color;

            &:hover {
                background-color: accentColor(.15);
            }

            &#taskPopupEditButton::before {
                font-weight: normal !important;
            }
        }
    }

    .input-box {
        display: flex;
        justify-content: space-between;

        * {
            width: 49%;
        }
    }

    input, textarea {
        display: block;
        width: 100%;
        height: $buttonHeight;
        color: white;
        letter-spacing: 1.2px;
        background-color: transparent;
        border: 0;
        border-bottom: solid 2px $accentColor;
        box-sizing: border-box;
        padding: 0 12px;

        &[type=submit], &[type=button] {
            margin-top: 10px;
            height: $buttonHeight;
            line-height: $buttonHeight;
            letter-spacing: 1.5px;
            border: 1px solid accentColor(.5);
            background-color: accentColor(.05);
            transition: ease background-color .3s;

            &:hover {
                background-color: accentColor(.2);
            }
        }
    }

    #taskPopupTaskIdTitle {
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        margin-bottom: 10px;

        #taskPopupTitle {
            font-weight: 900;
            font-size: 19px;
        }

        #taskPopupTaskId,
        #taskPopupTitle {
            display: block;
            height: $buttonHeight;
            line-height: $buttonHeight;
        }

        #taskPopupTaskId {
            margin-right: 10px;
        }
    }

    #taskPopupAssignCreatorLine {
        height: $iconSize + 30px;
        margin-bottom: 16px;

        .taskPopupAssignCreatorColumn {
            width: calc(50% - 10px);
            float: left;
            height: 100%;

            p {
                width: 100%;
                text-align: center;
                height: 20px;
                line-height: 20px;
            }

            #taskPopupAssignIcon,
            #taskPopupCreatorIcon {
                width: $iconSize;
                height: $iconSize;
                float: left;
                border-radius: 50%;
                margin-right: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            #taskPopupAssign,
            #taskPopupCreator {
                height: $iconSize;
                line-height: $iconSize;
                float: left;
                display: block;
                width: calc(100% - #{$iconSize} - 5px);
                font-size: 12px;
            }

            &:nth-child(1) {
                border-right: 1px solid rgba(white, .5);
                padding-right: 9px;
            }
            &:nth-child(2) {
                padding-left: 10px;
            }
        }
    }

    #taskPopupProgressBar {
        height: $iconSize;
        line-height: $iconSize;
        margin: 10px 0;
        background-color: rgba(black, .5);

        #taskPopupProgressText,
        #taskPopupDeadlineChange {
            width: 100%;
            height: 100%;
            text-align: center;
            letter-spacing: 2px;
            font-size: 14px;
            text-shadow: 0 0 2px rgba(black, .8);
        }

        #taskPopupDeadlineChange {
            margin: 0;
            z-index: 99;
            text-align: left;
        }

        #taskPopupProgressCurrent {
            background-color: $accentColor;
            margin-top: -$iconSize;
            width: 50%;
            pointer-events: none;

            &.limit3 {
                background-color: rgba($orangeColor, .8);
            }

            &.limit2 {
                background-color: rgba($satOrangeColor, .8);
            }

            &.limit1 {
                background-color: $redColor;
            }

            &.over {
                background-color: $redColor;
            }
        }
    }

    textarea {
        width: 100%;
        height: 400px;
        resize: none;
    }

    input, textarea {
        &[readonly=""],
        &[readonly] {
            border: 0;
            padding: 0;

            &[type=submit],
            &[type=date],
            &[type=button] {
                display: none;
            }
        }
    }
}

#taskDeletePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $modanWidth;
    background-color: $backgroundColor;
    padding: 10px 20px 15px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(black, .5);
    z-index: 100;

    #taskDeletePopupTitle {
        height: $buttonHeight;
        line-height: $buttonHeight;
        font-size: 18px;
        padding-left: 15px;
        background-color: rgba(black, 0.5);
        letter-spacing: 1.5px;
        margin: -10px -20px 0 -20px;
        -ms-text-align-last: right;
        text-align: left;

        &::after {
            display: block;
            position: relative;
            content: " ";
            width: 5px;
            height: 100%;
            top: -100%;
            left: -15px;
            background-color: $redColor;
        }
    }

    #taskDeletePopupActions {
        margin: -$buttonHeight 0 15px calc(#{$modanWidth - $buttonHeight} - 20px);
        width: $buttonHeight;

        i {
            float: left;
            width: $buttonHeight;
            height: $buttonHeight;
            line-height: $buttonHeight;
            text-align: center;
            display: block;
            font-size: 14px;
            box-sizing: border-box;
            padding-left: 3px;
            transition: ease .4s background-color;

            &:hover {
                background-color: accentColor(.15);
            }

            &#taskPopupEditButton::before {
                font-weight: normal !important;
            }
        }
    }

    .taskDeletePopupText {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 5px 0;

        strong {
            color: $redColor;
            font-weight: bolder;
        }

        &#taskDeletePopupTextCaution {
            text-align: center;
            font-weight: bold;
            line-height: 45px;
            font-size: 15px;
        }
    }

    #taskDeletePopupSelectButtons {
        margin: 20px 8px;

        #taskDeletePopupHide {
            background-color: transparent;

            &:hover {
                background-color: rgba($redColor, .3);
            }
        }

        div {
            float: left;
            width: 48%;
            margin: 0 1%;
            text-align: center;
            box-sizing: border-box;
        }
    }
}

#taskDeleteConfirmPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $minModernWidth;
    background-color: $backgroundColor;
    padding: 10px 20px 15px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(black, .5);
    z-index: 100;

    #taskDeleteConfirmPopupTitle {
        height: $buttonHeight;
        line-height: $buttonHeight;
        font-size: 18px;
        padding-left: 15px;
        background-color: rgba(black, 0.5);
        letter-spacing: 1.5px;
        margin: -10px -20px 0 -20px;
        -ms-text-align-last: right;
        text-align: left;

        &::after {
            display: block;
            position: relative;
            content: " ";
            width: 5px;
            height: 100%;
            top: -100%;
            left: -15px;
            background-color: $redColor;
        }
    }

    .taskDeleteConfirmPopupText {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 5px 0;
    }

    #taskDeleteConfirmPopupSelectButtons {
        margin-top: 20px;

        #taskDeleteConfirmPopupCancel {
            background-color: transparent;
            border-color: white;

            &:hover {
                background-color: rgba($accentColor, .3);
            }
        }

        #taskDeleteConfirmPopupDelete {
            margin-right: 2%;
        }

        div {
            float: left;
            width: 49%;
            margin: 0;
            height: $buttonHeight - 5px;
            line-height: $buttonHeight - 5px;
            text-align: center;
            box-sizing: border-box;
        }
    }
}