<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{{if .Title}}
    <title>{{.Title}} -Themis Todo</title>
{{else}}
    <title>Themis Todo</title>
{{end}}
    <style>
        html,
        body {
            background-color: rgb(30, 30, 30);
            color: white;
            font-size: 12px;
        }

        * {
            font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
        }

        a {
            color: rgb(239, 83, 80);
        }
    </style>
    <link rel="preload" as="style" href="/assets/styles/cssreset-min.css">
    <link rel="preload" as="style" href="/assets/styles/main.css">
    <link rel="preload" as="style" href="/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" as="style" href="/assets/styles/cssreset-min.css">
{{/*<link rel="stylesheet" as="style" href="/assets/styles/main.css">*/}}
    <link rel="stylesheet" as="style" href="/fontawesome/css/fontawesome-all.min.css">
</head>
<body>
{{template "header"}}
{{template "content" .}}

{{if isDebug}}
<script type="application/javascript" src="//localhost:8652/bundle.js"></script>
{{else}}
<script type="application/javascript" src="/assets/bundle.js"></script>
{{end}}
</body>
</html>