{{define "content"}}
<script>
    const projectId = {{.Project.Uuid}};
</script>

<h2 id="taskboardTitle"><i class="fas fa-tasks"></i><span>{{.Project.Name}}</span></h2>
<a id="taskboardConfig" href="#"><i class="fas fa-cog"></i>Config</a>
<a id="taskboardAdd" href="#"><i class="fas fa-plus-circle"></i>ADD</a>
<div id="taskboard">
    <section id="todo">
        <div class="statusName">Todo</div>
        <ul class="taskList" data-status="todo">
        {{range .TaskList}}
        {{if eq .Status 0}}
            <li data-id="{{.CreateDate}}">
                <div class="taskTitle">{{.Name}}</div>
                <div class="taskId">#{{.TaskId}}</div>
                <div class="taskAssign"><i class="fas fa-user"></i>&nbsp{{.CreatorName}}</div>
                <div class="taskLimit"><i class="fas fa-calendar-alt"></i><span>{{.DeadlineMD}}</span>(あと{{.LimitDate}}
                    日)
                </div>
            </li>
        {{end}}
        {{end}}
        </ul>
    </section>
    <section id="doing">
        <div class="statusName">Doing</div>
        <ul class="taskList" data-status="doing">
        {{range .TaskList}}
        {{if eq .Status 1}}
            <li data-id="{{.CreateDate}}">
                <div class="taskTitle">{{.Name}}</div>
                <div class="taskId">#{{.TaskId}}</div>
                <div class="taskAssign"><i class="fas fa-user"></i>&nbsp{{.CreatorName}}</div>
                <div class="taskLimit"><i class="fas fa-calendar-alt"></i><span>{{.DeadlineMD}}</span>(あと{{.LimitDate}}
                    日)
                </div>
            </li>
        {{end}}
        {{end}}
        </ul>
    </section>
    <section id="pr">
        <div class="statusName">PullRequest</div>
        <ul class="taskList" data-status="pr">
        {{range .TaskList}}
        {{if eq .Status 2}}
            <li data-id="{{.CreateDate}}">
                <div class="taskTitle">{{.Name}}</div>
                <div class="taskId">#{{.TaskId}}</div>
                <div class="taskAssign"><i class="fas fa-user"></i>&nbsp{{.CreatorName}}</div>
                <div class="taskLimit"><i class="fas fa-calendar-alt"></i><span>{{.DeadlineMD}}</span>(あと{{.LimitDate}}
                    日)
                </div>
            </li>
        {{end}}
        {{end}}
        </ul>
    </section>
    <section id="done">
        <div class="statusName">Done</div>
        <ul class="taskList" data-status="done">
        {{range .TaskList}}
        {{if eq .Status 3}}
            <li data-id="{{.CreateDate}}">
                <div class="taskTitle">{{.Name}}</div>
                <div class="taskId">#{{.TaskId}}</div>
                <div class="taskAssign"><i class="fas fa-user"></i>&nbsp{{.CreatorName}}</div>
                <div class="taskLimit"><i class="fas fa-calendar-alt"></i><span>{{.DeadlineMD}}</span>(あと{{.LimitDate}}
                    日)
                </div>
            </li>
        {{end}}
        {{end}}
        </ul>
    </section>
</div>

<form id="taskboardAddForm" class="basicForm">
    <h3>New Task</h3>
    <div id="taskboardAddClose"><i class="fas fa-angle-double-right"></i></div>
    <div class="error"></div>
    <p>Name</p>
    <input type="text" name="name">
    <p>Creator</p>
    <input type="text" readonly value="">
    <p>ID</p>
    <input type="text" readonly value="">
    <p>Deadline</p>
    <input type="date" value="" name="deadline">
    <p>Description</p>
    <textarea name="description"></textarea>
    <input type="submit" value="ADD">
</form>

<div id="projectConfigPopup">
    <h3>Project Config</h3>
    <div class="error"></div>
    <form id="projectConfigForm" class="basicForm" autocomplete="off">
        <p>Name</p>
        <input type="text" name="name" value="{{.Project.Name}}">
        <p>Description</p>
        <textarea name="description">{{.Project.Description}}</textarea>
        <input type="submit" value="SAVE">
    </form>
    <form id="projectMemberAddForm" class="basicForm" autocomplete="off">
        <p>Member Invite</p>
        <input type="text" id="userSelect">
        <input type="submit" value="&#xf234;" class="fa">
        <p>Member Manage</p>
        <ul class="usersList"></ul>
    </form>
</div>
<ul id="usersSearchedList" class="usersList"></ul>
<script type="application/javascript">
    var memberList = JSON.parse("{{.AccountJson}}");
</script>

<div id="backViewLayer"></div>
<script type="application/javascript" src="/assets/js/taskApi.js"></script>
<script type="application/javascript" src="/assets/js/taskAdd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
<script type="application/javascript" src="/assets/js/taskBoard.js"></script>
<script type="application/javascript" src="/assets/js/projectUtils.js"></script>
<script type="application/javascript" src="/assets/js/projectMemberList.js"></script>
<script type="application/javascript" src="/assets/js/projectConfig.js"></script>
{{end}}