#accountSettings {
    width: $modanWidth;
    margin: 10px auto;

    #accountSettingsIcon {
        text-align: center;
        width: $bigIconSize;
        height: $bigIconSize;
        margin: 25px auto 15px auto;
        line-height: $bigIconSize;
        letter-spacing: 2px;
        border-radius: 50%;
        border: solid 1px rgba(white, .3);
    }

    form {
        display: block;
        margin-bottom: 70px;

        label {
            font-size: 16px;
            letter-spacing: 1.2px;
        }

        input {
            width: 100%;
            margin-top: 5px;
            padding-right: calc(#{$lineTextHeight} + 5px);
        }

        input[type=submit]:not([value=Change]) {
            opacity: 0;
            width: 0;
            height: 0;
        }

        i.fas {
            position: relative;
            display: block;
            text-align: center;
            cursor: default;
            transition: background-color ease .3s;
            z-index: 50;
        }

        i.fas:not(.aline) {
            width: $lineTextHeight;
            height: $lineTextHeight;
            line-height: $lineTextHeight;
            margin: calc(-#{$lineTextHeight} - 15px) 0 0 calc(100% - #{$lineTextHeight});
        }

        i.fas::before {
            display: block;
            width: 100%;
            height: 100%;
        }

        i.fas:not(.aline):hover {
            background-color: accentColor(.3);
        }
    }
}