.basicForm {
    h2 {
        text-align: center;
        letter-spacing: 1.4px;
        font-size: 22px;
    }

    input,
    textarea,
    .basicCustomizeInput {
        display: block;
        width: 80%;
        height: $lineTextHeight;
        line-height: $lineTextHeight;
        box-sizing: border-box;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .7);
        color: white;
        font-size: 16px;
        padding: 0 10px;
        margin: 15px auto;
        letter-spacing: 1.1px;
        background-color: rgba(0, 0, 0, .1);
        outline: none;
        transition: ease border-color .3s;

        &:focus {
            outline: none;
            border-color: accentColor(.8);
        }

        &[type=submit] {
            height: $buttonHeight;
            line-height: $buttonHeight;
            letter-spacing: 1.5px;
            border: 1px solid accentColor(.5);
            background-color: accentColor(.05);
            transition: ease background-color .3s;

            &:hover {
                background-color: accentColor(.2);
            }
        }
    }

    textarea {
        min-height: 180px;
        max-height: 500px;
        max-width: 80%;
        min-width: 80%;
    }
}

#error,
.error {
    background-color: $redColor;
    box-sizing: border-box;
    height: $lineTextHeight;
    line-height: $lineTextHeight;
    padding: 0 8px;
    letter-spacing: 1.5px;
    font-size: 14px;
    display: none;

    &::after {
        display: block;
        font-size: 16px;
        content: "×";
        height: $lineTextHeight;
        line-height: $lineTextHeight;
        margin-top: -$lineTextHeight;
        text-align: right;
        transition: ease opacity .3s;
    }

    &:hover::after {
        opacity: .7;
    }
}
