.backView {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .6);
    z-index: 50;
}

.deleteButton {
    text-align: center;
    height: $buttonHeight;
    line-height: $buttonHeight;
    border: 1px solid $redColor;
    background-color: rgba($redColor, .1);
    letter-spacing: 1.5px;
    margin: 15px auto 35px auto;
    width: 90%;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: background-color ease .3s, border-color ease .3s;
}

.basicForm input.deleteButton {
    width: 90%;
    border: 1px solid $redColor;
    background-color: rgba($redColor, .1);
    letter-spacing: 1.5px;
    font-size: 12px;
}

.deleteButton:hover,
.basicForm input.deleteButton:hover {
    border-color: rgba(white, .5);
    background-color: $redColor;
}

.both {
    clear: both;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .6);

    .loadingBody {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: solid 5px $accentColor;
        border-top-color: transparent;
        border-bottom-color: transparent;
        @include animation(rotateAnimate .5s infinite, linear);
    }
}

@include keyframes(rotateAnimate) {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}