$backgroundColor: rgb(30, 30, 30);
$accentColor: rgb(67, 160, 71);
$linkColor: rgb(187, 222, 251);
$redColor: rgb(239, 83, 80);
$floatBoxSize: 480px;
$modanWidth: 500px;
$buttonHeight: 45px;
$buttonWidth: 200px;
$lineTextHeight: 40px;
$headerHeight: 65px;
$iconSize: 35px;
$bigIconSize: 150px;

@function accentColor($alpha) {
	@return rgba(67, 160, 71, $alpha);
}

// 共通パーツ
@import "header.scss";
@import "welcome.scss";
@import "login.scss";
@import "basicForm.scss";
@import "common.scss";

// タスク系
@import "home.scss";
@import "taskList.scss";

// Project系
@import "projectsAdd.scss";
@import "taskboard.scss";

// Account系
@import "accountAdd.scss";
@import "accountSettings.scss";