$backgroundColor: rgb(30, 30, 30);
$accentColor: rgb(67, 160, 71);
$linkColor: rgb(187, 222, 251);
$redColor: rgb(239, 83, 80);
$orangeColor: rgb(255,167,38);
$satOrangeColor: rgb(255,112,67);
$floatBoxSize: 480px;
$modanWidth: 500px;
$buttonHeight: 45px;
$buttonWidth: 200px;
$lineTextHeight: 40px;
$headerHeight: 65px;
$iconSize: 35px;
$bigIconSize: 150px;

@function accentColor($alpha) {
    @return rgba(67, 160, 71, $alpha);
}

@mixin keyframes($animation-name: animaton) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animation-name, $timing) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-timing-function: $timing;
    -moz-animation-timing-function: $timing;
    animation-timing-function: $timing;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

// 共通パーツ
@import "header.scss";
@import "welcome.scss";
@import "login.scss";
@import "basicForm.scss";
@import "common.scss";

// タスク系
@import "home.scss";
@import "taskList.scss";

// Project系
@import "projectsAdd.scss";
@import "taskboard.scss";

// Account系
@import "accountAdd.scss";
@import "accountSettings.scss";