body {
    background-color: rgb(30, 30, 30);
    color: white;
}

* {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a {
    color: rgb(187, 222, 251);
}